<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829104445761-m448e42i1nv6j13js5r9l6gfvhf4hopu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829104445761-m448e42i1nv6j13js5r9l6gfvhf4hopu</string>
	<key>API_KEY</key>
	<string>AIzaSyDWAMmOuyIRywSdZm9bUeqPxLG5VgOpNVk</string>
	<key>GCM_SENDER_ID</key>
	<string>829104445761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>artoon.Instagram-Clone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-7b07a</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-7b07a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829104445761:ios:45e867fb2e51c41292a9c0</string>
</dict>
</plist>